<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link th:href="@{/css/materialize-rtl.min.css}" type="text/css"
	rel="stylesheet" media="screen,projection" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />

<style>
.clear-btn:hover {
	color: red !important;
}

.breadcrumb::before {
	color: black;
}

hr {
	color: bisque;
	*/
}

.form-content {
	
}

.dark-brown-text {
	color: #CBA25F;
}

.dark-brown {
	background-color: #CBA25F;
}

.collection {
	/*border:none;*/
	
}

.top-navigation a:hover {
	color: #ceb139 !important;
}

.navigation-icon {
	border-left: 1px solid #ddd;
	padding: 10px !important;
}

.navigation-icon:hover {
	/*background-color:#17670A;	*/
	
}

.navigation-icon:last-child {
	border: none;
}

.collapsible .active>.collapsible-header {
	background-color: #D5BE82;
	color: white;
}
</style>

</head>


<div th:fragment="navigation" class="row top-navigation"
	style="border: 1px solid #ddd; margin-bottom: 0px;">
	<div class="col s4 m2 navigation-icon">
		<a href="#" class="center-align green-text text-darken-2"> <i
			class="medium material-icons" style="display: block;">home</i> <span
			style="display: block;">الرئيسية</span>
		</a>
	</div>
	<div class="col s4 m2 navigation-icon">
		<a href="#" class="center-align green-text text-darken-2"> <i
			class="medium material-icons " style="display: block;">verified_user</i>
			<span style="display: block;">مشرف</span>
		</a>
	</div>
	<div class="col s4 m2 navigation-icon">
		<a href="#" class="center-align green-text text-darken-2"> <i
			class="medium material-icons " style="display: block;">people</i> <span
			style="display: block;">عضو</span>
		</a>
	</div>
</div>

</html>