<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Modal Meeting -->
  <div th:fragment="add-meeting-modal" id="modal-add-meeting" class="modal modal-fixed-footer">
  	<form action="/" th:action="@{/majales/} + ${majles.id} + @{/AddMeeting}" method="post">
    <div class="modal-content">
      <div class="form-heading">
          <h5 class="card-title col s12 green-text text-darken-2"> اضافة اجتماع جديد</h5>
          	<hr />	
      </div>
      <div class="form-content" style="padding:20px;">
          <div class="row">
            <div class="input-field col s12 m6">
              <input placeholder="Placeholder" name="name" id="name" type="text" class="validate">
              <label for="name">الاسم</label>
            </div> 
         	<div class="input-field col s12 m6">
                <select multiple name="meeting_users">
                  <option value="" disabled selected>اختر أعضاء الاجتماع</option>
                  <option th:each="user : ${users}" th:value="${user.samAccount}" th:text="${user.arabicName}"></option>
                </select>
                <label>الأعضاء</label>
           </div>
              
         </div>
         <div class="row">
        	<div class="input-field col s12">
          	<textarea id="description" name="description" class="materialize-textarea"></textarea>
          	<label for="description">الوصف</label>
        	</div>
      	</div>
         <div class="row">
         </div>
      </div>   
    </div>
    
    <div class="modal-footer">
    	<button class="btn-flat green-text text-darken-3 waves-effect waves-green" type="submit">انشاء الاجتماع</button>
		<a href="#!" class=" btn-flat red-text text-darken-3 modal-close waves-effect waves-red ">اغلاق</a>
    </div>
</form>
  </div>

</html>