<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!--    MODALS -->
  <!-- Modal Structure -->
  <div th:fragment="add-majles-user-modal" id="modal-add-majles-user" class="modal modal-fixed-footer">
  	<form action="/" th:action="@{/majales/addMajlesUser}" method="post">
    <div class="modal-content">
      <div class="form-heading">
          <h5 class="card-title col s12 green-text text-darken-2"> اضافة عضو جديد</h5>
          	<hr />	
      </div>
      <div class="form-content" style="padding:20px;">
		<div class="row">
		<input name="majles_id" type="hidden" th:value="${majles.id}" />
			<div class="input-field col m10 s12">
				<input id="sam_account" name="sam_account" type="text" class="autocomplete" data-target="">
				<label for="sam_account" class="">اسم الحساب</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col m10 s12">
				<select name="supervisor">
					<option value="false">عضو</option>
					<option value="true">مشرف</option>
				</select> <label>نوع العضوية</label>
			</div>
		</div>
      </div>   
    </div>
    
    <div class="modal-footer">
    	<button class="btn-flat green-text text-darken-3 waves-effect waves-green" type="submit">اضافة عضو</button>
		<a href="#!" class=" btn-flat red-text text-darken-3 modal-close waves-effect waves-red ">اغلاق</a>
    </div>
</form>
  </div>
  
  
  
    <!--    MODALS -->
  <!-- Modal Structure -->
  <div th:fragment="add-meeting-user-modal" id="modal-add-meeting-user" class="modal modal-fixed-footer">
  	<form action="/" th:action="@{/meeting/addUser}" method="post">
    <div class="modal-content">
      <div class="form-heading">
          <h5 class="card-title col s12 green-text text-darken-2"> اضافة عضو جديد</h5>
          	<hr />	
      </div>
      <div class="form-content" style="padding:20px;">
		<div class="row">
         	<div class="input-field col s12">
                <select multiple name="meeting_users">
                  <option value="" disabled selected>اختر أعضاء الاجتماع</option>
                  <option th:each="user : ${filteredMajlesUsers}" th:value="${user.samAccount}" th:text="${user.arabicName}"></option>
                </select>
             <label>الأعضاء</label>
           	</div>
		</div>
      </div>   
    </div>
    
    <div class="modal-footer">
    	<button class="btn-flat green-text text-darken-3 waves-effect waves-green" type="submit">اضافة عضو</button>
		<a href="#!" class=" btn-flat red-text text-darken-3 modal-close waves-effect waves-red ">اغلاق</a>
    </div>
</form>
  </div>

</html>