<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="majales-grid-fragment" class="card-panel">
	<div class="row">
		<div class="form-heading">
			<h5 class="card-title col s12 green-text text-darken-2">المجالس</h5>
			<p class="grey-text">انشاء وإدارة المجالس</p>
			<hr />
		</div>

		<div class="form-content">

			<div class="row">
				<div class="col s12 m4">
					<a class="modal-trigger" href="#modal1">
						<div class="card hoverable" style="min-height: 200px;">
							<div class="card-content dark-brown-text  center-align">
								<span class="card-title "><h5>اضف مجلس</h5></span> <i
									class="material-icons large dark-brown-text">add</i>
							</div>
						</div>
					</a>
				</div>
				<div th:each="majles : ${majales}" class="col s12 m4">
					<a th:href="@{/majales/} + ${majles.id}">
						<div class="card hoverable" style="min-height: 200px;">
							<div class="card-content black-text">
								<span class="card-title green-text text-darken-2" th:text="${majles.name}"></span>
								<p th:text="${majles.description}"></p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>

</html>