<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="meetings-grid-fragment">
	<h5>الاجتماعات</h5>
	<div class="row">
		<div class="col s12 m6">
		  	<a class="modal-trigger" href="#modal-add-meeting">  
		          <div class="card hoverable" style="min-height:200px;">
		              <div class="card-content dark-brown-text  center-align">
		                  <span class="card-title "><h5>اضف اجتماع</h5></span>
		                  <i class="material-icons large dark-brown-text">add</i>
		              </div>
		          </div> 
		    </a>   
		 </div>
		<div th:each="meeting : ${meetings}" class="col s12 m6">
			<a th:href="@{/meetings/} + ${meeting.id}">
				<div class="card hoverable" style="min-height: 200px;">
					<div class="card-content black-text">
						<span class="card-title green-text text-darken-2" th:text="${meeting.name}"></span>
						<p th:text="${meeting.description}"></p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
</html>