<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="subjects-grid-fragment" >
	<h5>المواضيع</h5>

	<ul class="collapsible">
		<li class="active">
			<div class="collapsible-header">
				<i class="material-icons">add</i>اضف موضوع
			</div>
			<div class="collapsible-body">
				<form action="/" th:action="@{~/meetings/addSubject}" method="post" th:object="${subject}">
					<input name="meetingId" type="hidden" th:value="${meeting.id}" />
					<div class="row">
						<div class="input-field col s12 ">
							<input placeholder="Placeholder" th:field="*{name}" id="subject_name" type="text"
								class="validate"> <label for="subject_name">الاسم</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea id="subject_description" th:field="*{description}" class="materialize-textarea"></textarea>
							<label for="subject_description">الوصف</label>
						</div>
					</div>
					<div class="row">
						<button class="btn waves-effect waves-green" type="submit">انشاء الموضوع</button>
					</div>
				</form>
			</div>
		</li>
		<li th:each="subject : ${subjects}">
			<div class="collapsible-header">
				<i class="material-icons">assignment</i><span th:text="${subject.name}"></span>
			</div>
			<div class="collapsible-body">
				<!-- SUBJECT DETAILS SECTION  -->
				<div class="form-heading">
					<h5 class="card-title col s12 green-text text-darken-2" th:text="${subject.name}"></h5>
					<p class="grey-text" th:text="${subject.description}"></p>
					<hr />
				</div>
				<!-- SUBJECT ATTACHMENT SECTION (END)   -->
				<div class="row">
					<div class="col s12">
						<h5>المرفقات</h5>
						<ul class="collection grey lighten-5 hoverable">
							<li class="collection-item  grey lighten-5 right-align">
								<a class="modal-trigger" href="#modal-add-document">
									<i class="circle right white-text green darken-1 material-icons hoverable waves-effect waves-ripple" style="cursor: pointer;">add</i>
								</a>
								<span class="title">اضف مرفق</span>
							</li>
							<li th:each="document : ${documents}" class="collection-item avatar">
								<i class="circle light-blue darken-3 material-icons">attach_file</i>
								<a href="#"><span class="title">${document.name}</span></a>
								<p>${document.description}</p>
								<a href="#!" class="secondary-content grey-text clear-btn tooltipped" data-position="bottom" data-tooltip="حذف المرفق">
									<i class="material-icons">clear</i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- SUBJECT ATTACHMENT SECTION (END) -->
			</div>
		</li>
	</ul>


</div>
</html>