<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>

<div th:fragment="majles-users-fragment">
	<h5>اعضاءالمجلس</h5>
	<ul class="collection grey lighten-5 hoverable">
        <li class="collection-item  grey lighten-5 right-align">
            <a class="modal-trigger" href="#modal-add-majles-user">
                <i class="circle right white-text green darken-1 material-icons hoverable waves-effect waves-ripple" style="cursor:pointer;">add</i>
            </a>    
            <span class="title">اضف عضو</span>
        </li>
		<li th:each="user: ${users}" class="collection-item avatar">
			<i th:if="${user.isSupervisorTemp}" class="circle light-blue darken-3 material-icons">verified_user</i>
			<i th:unless="${user.isSupervisorTemp}" class="circle grey lighten-1 material-icons">person</i>
			<span class="title" th:text="${user.samAccount}"></span>
			<p><span th:text="${user.samAccount}"></span><span>@ub.edu.sa</span> <br> <span th:text="${user.mobileNo}"></span></p>
			<a th:href="@{/majales/} + ${majles.id} + @{/deleteUser/} + ${user.samAccount}" class="secondary-content grey-text clear-btn tooltipped" data-position="bottom" data-tooltip="حذف العضو"><i class="material-icons">clear</i></a>
		</li>
		<li th:unless="${#lists.isEmpty(users)}" class="collection-item" style="padding: 0px;">
			<button
				class="btn waves-effect waves-light red darken-1 secondary-content"
				type="submit" name="action" style="width: 100%; margin: 0px;">
				ارسل التنبيهات <i class="material-icons right">notifications_active</i>
			</button>
		</li>
	</ul>
</div>


<div th:fragment="meeting-users-fragment">
	<h5>اعضاء الاجتماع</h5>
	<ul class="collection grey lighten-5 hoverable">
        <li class="collection-item  grey lighten-5 right-align">
            <a class="modal-trigger" href="#modal-add-meeting-user">
                <i class="circle right white-text green darken-1 material-icons hoverable waves-effect waves-ripple" style="cursor:pointer;">add</i>
            </a>    
            <span class="title">اضف عضو</span>
        </li>
		<li th:each="user: ${meetingUsers}" class="collection-item avatar">
			<i th:if="${user.isSupervisorTemp}" class="circle light-blue darken-3 material-icons">verified_user</i>
			<i th:unless="${user.isSupervisorTemp}" class="circle grey lighten-1 material-icons">person</i>
			<span class="title" th:text="${user.samAccount}"></span>
			<p><span th:text="${user.samAccount}"></span><span>@ub.edu.sa</span> <br> <span th:text="${user.mobileNo}"></span></p>
			<a th:href="@{/meetings/} + ${meeting.id} + @{/deleteUser/} + ${user.samAccount}" class="secondary-content grey-text clear-btn tooltipped" data-position="bottom" data-tooltip="حذف العضو"><i class="material-icons">clear</i></a>
		</li>
		<li th:unless="${#lists.isEmpty(users)}" class="collection-item" style="padding: 0px;">
			<button
				class="btn waves-effect waves-light red darken-1 secondary-content"
				type="submit" name="action" style="width: 100%; margin: 0px;">
				ارسل التنبيهات <i class="material-icons right">notifications_active</i>
			</button>
		</li>
	</ul>
</div>
</html>