<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template ::header"></head>

<body class="rtl">

	<div class="container z-depth-3" style="margin-top: 5%;">
		
		<!-- HEADER -->
		<div th:replace="common/template :: navigation"></div>
		
		<!-- CONTENT -->
		<div class="row">
			<!-- FORM HEADING -->
			<div class="form-heading">
				<h5 class="card-title col s12 green-text text-darken-2" th:text="${majles.name}"></h5>
				<p class="grey-text" th:text="${majles.description}"></p>
				<hr />
			</div>
			
			<!-- FORM BODY -->
			<div class="form-content">
				<div class="col m4 s12">
					<div th:replace="/common/content/users_list ::majles-users-fragment"></div>
				</div>
		
				<div class="col m8 s12">
					<div th:replace="/common/content/meetings_grid :: meetings-grid-fragment"></div>
				</div>
            </div>
		</div>
	</div>

	<!-- MODALS  -->
	<div th:replace="/common/modals/add_user_modal :: add-majles-user-modal"></div>
	<div th:replace="/common/modals/add_meeting_modal :: add-meeting-modal"></div>

	<!--Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script th:src="@{/js/materialize.js}"></script>
	<script th:src="@{/js/init.js}"></script>
	<script>
		$(document).ready(function() {
			$('select').formSelect();
			$('.modal').modal();
			$('.tooltipped').tooltip();
			$('.sidenav').sidenav();
			$(".dropdown-trigger").dropdown({
				coverTrigger : false,
				alignment : 'right'
			});
			$('.sidenav').sidenav();
			$('.autocomplete').autocomplete({
				data : {
					"Apple" : null,
					"Microsoft" : null,
					"Google" : 'https://placehold.it/250x250'
				},
			});
		});
	</script>
</body>
</html>